.message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 24px;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    border-radius: 5px;


}

.imageAndText img {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    /*order: -1;*/
    margin-left: 10px;
}

.text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 527px;
    min-height: 60px;
    height: fit-content;
    flex-shrink: 0;
    padding: 7px 25px 8px 13px;
    background-color: #06C;
    border-radius: 10px;
    position: relative;
    word-wrap: break-word;
    white-space: wrap;

}

.text:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -10px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #06C;
    z-index: -1;

}

.name {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.messageText {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: wrap;
}

.time {
    color: #000;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-right: 10px;
}