.loader {
    width: 108px;
    height: 108px;

    box-sizing: border-box;

    display: grid;
    place-items: center;

    background: #fff;
}

.loader::before {
    content: '';

    width: 72px;
    height: 72px;

    background: #7b8cff;

    clip-path: polygon(
            40% 0%,
            60% 0%,
            63% 14%,
            70% 17%,

            82% 9%,
            91% 18%,
            83% 30%,
            86% 37%,

            100% 40%,
            100% 60%,
            86% 63%,
            83% 70%,

            91% 82%,
            82% 91%,
            70% 83%,
            63% 86%,

            60% 100%,
            40% 100%,
            37% 86%,
            30% 83%,

            18% 91%,
            9% 82%,
            17% 70%,
            14% 63%,

            0% 60%,
            0% 40%,
            14% 37%,
            17% 30%,

            9% 18%,
            18% 9%,
            30% 17%,
            37% 14%
    );

    -webkit-mask: radial-gradient(circle, transparent 0 15px, #000 16px);
    mask: radial-gradient(circle, transparent 0 15px, #000 16px);

    animation: loader-spin 1.5s linear infinite;
}

@keyframes loader-spin {
    to {
        transform: rotate(360deg);
    }
}