.input:focus {


    outline: 1px solid   black;
}

.input {
    min-width: 372px;
    min-height: 36px;
    border-radius: 5px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.superInput {
    border: 1px solid #D1D1D1;
}

.errorInput {

    border:  1px solid   #CC1439;


}

.errorInput:focus {

    outline: none;
}

.error {
    position: absolute;
    left: 0;
    top: -16px;
    color: #CC1439;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}
