.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    height: calc(100vh - var(--header_height));
}

.error404 {
    width: 451px;
    max-width: 90vw;
    height: auto; /* чтобы не растягивалась по высоте */
}
