.item {

}
.item:hover {
    background-color: #f9f9f9;
}
.item td{
    padding: 16px 20px;
    border-bottom: 1px solid #E5E5E5;
}

.item:last-of-type {
    border-bottom: none;
}
.HW8button {
    height: 36px;
    padding: 5px 24px;
    width: auto;
    font-size: 14px;
}

.users {
    margin:  12px 0;
    width: 100%;
    border-collapse:  collapse;
    border-spacing: 0;
}

.buttonsContainer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.container {
    margin: 6px 0;
    max-width: 611px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.thead {
    background-color:#E5E5E5 ;
    font-weight: bold;
}
.thead td {
    padding: 11px 20px 9px;
    background-color: #E5E5E5;
    font-weight: 700;
    vertical-align: middle;

}

.nameCol {
    width: 36%;
    font-weight: 300;
}

.ageCol {
    width: 43%;
    font-weight: bold;
}