.spanBlock {
    display: flex;
    max-width: 282px;
    gap: 20px;
    align-items: center;
}

.span {
    color: #0080FF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.input {
    padding: 8px 24px;
    color: #000;

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.pen {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}