.button {
    display: inline-flex;
    padding: 5px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    min-height: 30px;
    min-width: 132px;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */

}


.secondary {
    background-color: white;
    border: 1px solid #06C;
}

.default {
    background:  #06C;
    border: 1px solid #06C;
    color: white;
}

.red {

    background:  #CC1439;

}
.disabled {

}

.default:hover {

    background: #0080FF;
}

.red:hover {
    background-color: #FF1A47;
}

.secondary:hover {
background-color: #E5F0FA;
}


.default:active {
    background-color: #0059B2;
}

.secondary:active {
 background-color:    #C9E5FF;
}

.red:active {
    background-color: #B21232;;
}

.button:disabled {
    opacity: 0.5;
    background-color: #004D99;
}
